
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Admin测试
    </div>
    <div>tttt</div>

    <div>qqqqq</div>
</body>
</html>
